h1 {
  color: #111;
  text-align: center;
  margin-top: 80px;
}

body {
  font-family: Arial;
  margin: 50px;
}

.amarelo {
  color: #febe01;
}

.item {
  background: #111;
  margin: 20px;
  padding: 30px;
  border-radius: 4px;
}

h2 {
  color: #fff;
  margin: 0px;
}

p {
  color: #b2b2b2;
}

a {
  display: inline-block;
  text-decoration: none;
  background: #febe01;
  color: #332200;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
}
